<form action="">
  <input type="radio" name="choice" value="gender"> Gender<br>
  <input type="radio" name="choice" value="age"> Age<br>
  <input type="radio" name="choice" value="jobTitle"> Occupation Job Title<br>
  <input type="radio" name="choice" value="companyName"> Company Name
</form>

<form action="">
  Gender<br>
  <input type="text" placeholder="Gender" name="gender">
  Age<br>
  from<input type="text" placeholder="from" name="from">
  to<input type="text" placeholder="to" name="to">
  Occupation Job Title<br>
  <input type="text" placeholder="Occupation Job Title" name="jobTitle">
  Company Name
  <input type="text" placeholder="Company Name" name="companyName">
</form>

<button type="button" class="btn btn-default" onclick="barGraph();">Create bar graph</button>
<button type="button" class="btn btn-default"  onclick="lineGraph();">Create line graph</button>

<div id="vis"></div>
