<div class="jumbotron text-center">
  <h1>Graphs</h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <ul>
        <li><a href="/barGraph">Bar Graph</a></li>
        <li><a href="/lineGraph">Line Graph</a></li>
        <li><a href="/histogram">Histogram</a></li>
        <li><a href="/heatmap">Heatmap</a></li>
      </ul>

      <div id="vis"></div>
    </div>
  </div>
</div>
